<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsn.serv.mem.mapper.mem.MemInviterCodeMapper">

  <resultMap id="BaseResultMap" type="com.tsn.serv.mem.entity.mem.MemInviterCode">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="inviter_code" jdbcType="VARCHAR" property="inviterCode" />
  </resultMap>


  <sql id="Base_Column_List">
  id, inviter_code
</sql>


  <delete id="delete" parameterType="java.lang.Integer">
  delete from v_mem_inviter_code
  where id = #{id,jdbcType=INTEGER}
</delete>


  <insert id="insert" parameterType="com.tsn.serv.mem.entity.mem.MemInviterCode">
  insert into v_mem_inviter_code (id, inviter_code)
  values (#{id,jdbcType=INTEGER}, #{inviterCode,jdbcType=VARCHAR})
</insert>


  <insert id="insertDynamic" parameterType="com.tsn.serv.mem.entity.mem.MemInviterCode">
    insert into v_mem_inviter_code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="inviterCode != null">
        inviter_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="inviterCode != null">
        #{inviterCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <update id="updateDynamic" parameterType="com.tsn.serv.mem.entity.mem.MemInviterCode">
    update v_mem_inviter_code
    <set>
      <if test="inviterCode != null">
        inviter_code = #{inviterCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


  <update id="update" parameterType="com.tsn.serv.mem.entity.mem.MemInviterCode">
  update v_mem_inviter_code
  set inviter_code = #{inviterCode,jdbcType=VARCHAR}
  where id = #{id,jdbcType=INTEGER}
</update>


  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from  v_mem_inviter_code
    where id = #{id,jdbcType=INTEGER}
  </select>


  <sql id="findPageWithWhere">
    <where> 1=1
      <if test="id != null" >
        and id = #{id,jdbcType=INTEGER}
      </if>
      <if test="inviterCode != null and inviterCode != ''" >
        and inviter_code = #{inviterCode,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>

  <select id="getInviterCode" resultMap="BaseResultMap">
     select *  from v_mem_inviter_code limit 1
  </select>
</mapper>