<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>主页</title>

    <!-- MZUI CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcdn.net/ajax/libs/zui/1.10.0/css/zui.min.css">
    <link href="/user/css/mzui.min.css" rel="stylesheet">
    <link href="/user/css/main.css?v=1" rel="stylesheet">
    
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
	<!-- ZUI Javascript 依赖 jQuery -->
	<script src="https://cdn.bootcdn.net/ajax/libs/zui/1.10.0/lib/jquery/jquery.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/zui/1.10.0/js/zui.min.js"></script>
    <!-- 引入 MZUI 的 JS 文件 -->
    <script src="/user/js/mzui.min.js"></script>
    <script src="/user/js/comm.js"></script>
    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    
    <style>
    body{
    }
    
	.label-warning {
	    background-color: #f1a325 !important;
	}
	
	.jiaocheng p{
		font-size: 9px;
	}
    
    </style>
  </head>
  <body>
	
	<div class="heading">
	  <nav class="nav">
	    <a id="menuExampleBtn" class="btn btn-lg" data-name="menuExample" data-display="modal" data-remote="/page/menu.html" data-placement="left"><i class="icon-bars" style="color:#fcae32"></i></a>
	  </nav>
	  <div class="title"><strong>首页</strong></div>
	  <nav class="nav">
  	  </nav>
	</div>
	
	<div class="content tsn-margin">
	
		<div class="panel ">
		  <div class="panel-heading">
		    公告
		  </div>
		  <div class="panel-body">
		    欢迎使用快鸟加速器
		  </div>
		</div>
		
		<div class="cards">
		  <div class="col-xs-6 col-md-4 col-sm-6 col-lg-3">
		    <div class="card flex flex-middle tsn-padding-sm content-space-between">
			    <div style="width: 60%"><i class="icon icon-user large" style="font-size: 200% !important;"></i></div>
		    	<div style="width: 50%" class="text-center">
			    	<span>会员类型</span>
			    	<div th:text="${user.memType == '00' ? '游客' : (user.memType == '02' ? '会员用户' : '普通用户')}"></div>
		    	</div>
		    </div>
		  </div>
		  <div class="col-xs-6 col-md-4 col-sm-6 col-lg-3">
		    <div class="card flex flex-middle tsn-padding-sm content-space-between">
			    <div style="width: 60%"><i class="icon icon-time large" style="font-size: 200% !important;"></i></div>
		    	<div style="width: 50%" class="text-center">
			    	<span>剩余时间</span>
			    	<div th:text="${user.surDayNum + '天'}"></div>
		    	</div>
		    </div>
		  </div>
		  <div class="col-xs-6 col-md-4 col-sm-6 col-lg-3">
		    <div class="card flex flex-middle tsn-padding-sm content-space-between">
			    <div style="width: 60%"><i class="icon icon-database large" style="font-size: 200% !important;"></i></div>
		    	<div style="width: 50%" class="text-center">
			    	<span>今日使用</span>
			    	<div th:text="${flowDay == null ? '0M' : flowDay}"></div>
		    	</div>
		    </div>
		  </div>
		  <div class="col-xs-6 col-md-4 col-sm-6 col-lg-3">
		    <div class="card flex flex-middle tsn-padding-sm content-space-between">
			    <div style="width: 60%"><i class="icon icon-node large" style="font-size: 200% !important;"></i></div>
		    	<div style="width: 50%" class="text-center">
			    	<span>邀请人数</span>
			    	<div th:text="${invitNum + '人'}"></div>
		    	</div>
		    </div>
		  </div>
		</div>
		
		<span class="label label-warning">客户端订阅(IOS)</span>
	
		<div class="list-group tsn-margin-top">
			  <a href="#" class="list-group-item flex">
			    <h5 class="list-group-item-heading text-left" style="width:60%">通用订阅</h5>
			    <span class="list-group-item-text text-muted text-right" style="width:40%"><span class="label label-Success label-outline copy" th:url="${subInfo.general}">点击复制</span></span>
			  </a>
			  <a href="#" class="list-group-item flex">
			    <h5 class="list-group-item-heading text-left" style="width:60%">小火箭订阅</h5>
			    <span class="list-group-item-text text-muted text-right" style="width:40%"><span class="label label-Success label-outline copy" th:url="${subInfo.sr}">点击复制</span></span>
			  </a>
		</div>
		
		<div class="alert alert-warning jiaocheng">
			<h4>订阅教程</h4>
			<h5>IOS小火箭下载安装教程(由于IOS近期遇到问题无法上架，尽情期待)</h5>
			<p>1.下载小火箭，教程：国外AppStore账号 <a href="">点击链接</a></p>
			<p>2.退出自己的苹果账号，使用国外apptore账号进行登录  <span style="color:black;cursor: pointer;font-weight:600" th:content="${accList.get(0).account}" class="copyAcc">复制账号</span> <span style="color:black;cursor: pointer;font-weight:600" class="copyAcc" th:content="${accList.get(0).pwd}">复制密码</span></p>
			<p>3.登录后搜索Shadowrocket进行下载</p>
			<p>4.下载完成后一定要退出账号！！！切记</p>
			<p>5.以上不清楚可<a style="margin-left:5px;text-decoration: underline;" th:href="${swrLink}" target="_blank">查看链接教程</a></p>
		</div>
	</div>
	
  </body>
  <script>
		$(function(){
			
			$(".copy").click(function(){
				
				var url = $(this).attr("url");
				
				copyContentH5(url)
				
			})
			
			$(".copyAcc").click(function() {
				var content = $(this).attr("content");
				copyContentH5(content)
			})
			
			//h5复制文本到剪切板
			function copyContentH5(content) {
			    var copyDom = document.createElement('div');
			    copyDom.innerText=content;
			    copyDom.style.position='absolute';
			    copyDom.style.top='0px';
			    copyDom.style.right='-9999px';
			    document.body.appendChild(copyDom);
			    //创建选中范围
			    var range = document.createRange();
			    range.selectNode(copyDom);
			    //移除剪切板中内容
			    window.getSelection().removeAllRanges();
			    //添加新的内容到剪切板
			    window.getSelection().addRange(range);
			    //复制
			    var successful = document.execCommand('copy');
			    copyDom.parentNode.removeChild(copyDom);
			    try{
			        if (successful) {
			        	new $.zui.Messager('复制成功', {
			            }).show();
			        }
			    } catch(err){
			    }
			}
			
		})
	</script>
</html>