<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta charset="utf-8">
<title></title>
<!-- ZUI 标准版压缩后的 CSS 文件 -->
<link rel="stylesheet" href="//cdn.bootcdn.net/ajax/libs/zui/1.10.0/css/zui.min.css">
<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
<!-- ZUI Javascript 依赖 jQuery -->
<script src="//cdn.bootcdn.net/ajax/libs/zui/1.10.0/lib/jquery/jquery.js"></script>
<!-- ZUI 标准版压缩后的 JavaScript 文件 -->
<script src="//cdn.bootcdn.net/ajax/libs/zui/1.10.0/js/zui.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
<style>
body {
background: #212120;
    color: #9e9e9e;
}

h4,a {
	color:#ffc107
}

.items-hover .item:hover {
    background-color: #080808;
}

.items .item {
    border-bottom: 1px solid #504907;
    padding: 9px;
}

.pager>li>a, .pager>li>span {
    background-color: #504b4b;
    border: 1px solid #2a2929;
}

.pager>li.disabled>a, .pager>li.disabled>a:focus, .pager>li.disabled>a:hover, .pager>li.disabled>span, .pager>li.disabled>span:focus, .pager>li.disabled>span:hover {
    color: #ffc107;
    background-color: #504b4b;
    border: 1px solid #2a2929;
}

</style>

</head>
<body>
	<ol class="breadcrumb" style="margin-top:20px">
	  <li><a href="javascript:window.history.back()">返回</a></li>
	  <li class="active">邀请用户列表</li>
	</ol>
	<div class="list">
		  <div class="items items-hover" id="itemsContent" style="font-size: 12px;">
		    <!-- <div class="item">
		      <div class="item-heading">
		        <div class="pull-right">邀请注册时间：<span class="text-muted">2013-11-11 16:14:37</span> </div>
		        <h4>sdsdf@gmail.com</h4>
		      </div>
		      <div class="item-content">
		        <div class="text">
		        	<span>用户ID:</span><span>1202012</span>
		        	<div class="pull-right" style="margin-left:8px"><span>已过期</span>/<span>已充值</span></div>&nbsp;  
		        </div>
		        <div class="text">
		        	<span>到期时间：</span><span class="text-muted">2013-11-11 16:14:37</span>
		        </div>
		      </div>
		    </div> -->
		  </div>
		  <footer>
		    <ul id="myPager" class="pager" data-ride="pager" data-elements="prev_icon,nav,next_icon"></ul>
		  </footer>
	</div>
	
</body>

<script th:inline="javascript">
	// 取资费类型
    const shareUrl = "";
    
</script>

<script>

$(function() {
	
	//h5复制文本到剪切板
	function copyContentH5(content) {
	    var copyDom = document.createElement('div');
	    copyDom.innerText=content;
	    copyDom.style.position='absolute';
	    copyDom.style.top='0px';
	    copyDom.style.right='-9999px';
	    document.body.appendChild(copyDom);
	    //创建选中范围
	    var range = document.createRange();
	    range.selectNode(copyDom);
	    //移除剪切板中内容
	    window.getSelection().removeAllRanges();
	    //添加新的内容到剪切板
	    window.getSelection().addRange(range);
	    //复制
	    var successful = document.execCommand('copy');
	    copyDom.parentNode.removeChild(copyDom);
	    try{
	        if (successful) {
	        	new $.zui.Messager('复制成功', {
	            }).show();
	        }
	    } catch(err){
	    }
	}
	
	$(".invitCode").click(function(){
		copyContentH5($(this).text())
	})
	
	$(".copyLink").click(function(){
		copyContentH5($(".shareUrl").text());
	})
	
	$('#qrcode').qrcode({
			render: "canvas", // 设置渲染方式(有两种方式 table和canvas，默认是canvas）
			width: 200, // 宽度
			height: 200, // 高度
			background: "#FFFFFF", // 背景颜色
			foreground: "#000000", // 前景颜色
			correctLevel: 0, // 纠错等级 
			text: shareUrl,
		});
	
	$("#invitList").click(function(){
		document.location.href="/page/invitfriendlist.html"
	})
	
	
	function initRecord(obj) {
		$.ajax({
            type : "get",
            url : "/mem/inviteList",
            data:obj,
            dataType : "json",
            success : function(res) {
           	 if (res.code == '000000') {
           		 $("#itemsContent").empty();
           		 var dataList = res.data.data;
           		 
           		 if (dataList.length <= 0) {
           			$("#itemsContent").append("<div class='empty'>暂无消息</div>")
					
           			// 设置当前页码为 4，并同时设置记录总数为 100， 每页记录数目为 30
					myPager.set({
					    page: page.page,
					    recTotal:  Number(res.data.totalRecord),
					    recPerPage: page.rows
					});

           			 return false;
           		 }
           		 
           		 for (var index in dataList) {
      				$("#itemsContent").append('<div class="item">' +
      				      '<div class="item-heading">' +
      			        '<div class="pull-right">邀请注册时间：<span class="text-muted">'+timeStamp2String(dataList[index].regDate)+'</span> </div>' +
      			        '<h4>'+dataList[index].memName+'</h4>' +
      			      '</div>' +
      			      '<div class="item-content">' +
      			        '<div class="text">' +
      			        	'<span>用户ID:</span><span>1202012</span>' +
      			        	'<div class="pull-right" style="margin-left:8px"><span>'+(dataList[index].expire? '已过期':'未过期')+'</span>/<span>'+(dataList[index].isPay == '1'? '已充值':'未充值')+'</span></div>&nbsp;  ' +
      			        '</div>' +
      			        '<div class="text">' +
      			        	'<span>到期时间：</span><span class="text-muted">' +timeStamp2String(dataList[index].suspenDate) + '</span>' +
      			        '</div>' +
      			      '</div>' +
      			    '</div>');
           			 
           			 
           		 }
           		 
           		myPager.set({
				    page: page.page,
				    recTotal:  Number(res.data.totalRecord),
				    recPerPage: page.rows
				});
           		 
           	 }
            },
            complete : function() {
            }
        });
		
	}
	
	function timeStamp2String(time){
	    var datetime = new Date();
	    datetime.setTime(time);
	    var year = datetime.getFullYear();
	    var month = datetime.getMonth() + 1 < 10 ? "0" + (datetime.getMonth() + 1) : datetime.getMonth() + 1;
	    var date = datetime.getDate() < 10 ? "0" + datetime.getDate() : datetime.getDate();
	    var hour = datetime.getHours()< 10 ? "0" + datetime.getHours() : datetime.getHours();
	    var minute = datetime.getMinutes()< 10 ? "0" + datetime.getMinutes() : datetime.getMinutes();
	    var second = datetime.getSeconds()< 10 ? "0" + datetime.getSeconds() : datetime.getSeconds();
	    return year + "-" + month + "-" + date+" "+hour+":"+minute+":"+second;
	}
	
	$('#myPager').on('onPageChange', function(e, state, oldState) {
	    if (state.page !== oldState.page) {
	    	page.page=state.page;
	    	initRecord(page);
	    }
	});
	
	// 获取分页器实例对象
	var myPager = $('#myPager').data('zui.pager');
	var page = {
			page:1,
			rows:5,
			params:{
				
			}
		}
	initRecord(page);
})

</script>
</html>
