<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>快鸟加速器</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="kn/img/logo.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="kn/css/bootstrap.min.css">
    <link rel="stylesheet" href="kn/css/owl.carousel.min.css">
    <link rel="stylesheet" href="kn/css/animate.min.css">
    <link rel="stylesheet" href="kn/css/magnific-popup.css">
    <link rel="stylesheet" href="kn/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="kn/css/themify-icons.css">
    <link rel="stylesheet" href="kn/css/meanmenu.css">
    <link rel="stylesheet" href="kn/css/slick.css">
    <link rel="stylesheet" href="kn/css/default.css">
    <link rel="stylesheet" href="kn/css/style.css">
    <link rel="stylesheet" href="kn/css/responsive.css">
</head>

<style>
	
	.featurebox2__img img {
		width: 30px;
		height: 30px;
	}
	
	.btn-outline4 {
		padding: 12px 48px;
		border: 1px solid #34a79f;
		border-radius: 5px;
		text-decoration: none;
		display: inline-block;
	}
	
	.btn-outline4:hover {
	    background: #34a79f;
	    color: black;
	}
	
	.download {
		cursor: pointer;
	}
	
</style>
	
<body>



<!-- HEADER START -->
<header>
    <div id="header-sticky" class="header-area header-area-orange transparent-header pt-10 pb-10">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-2 col-lg-2 col-md-4 col-10 d-flex align-items-center">
                    <div class="logo">
                        <a href="index.html"> <img src="kn/img/logo.png" width="50px" height="50px" alt=""> </a>
                    </div>
                </div>
                <div class="col-xl-10 col-lg-10 col-md-7 col-8 d-none d-md-block">
                    <!-- <div class="header-btn f-right d-none d-sm-none d-md-block">
                        <a href="#" class="btn btnblue"><i class="fal fa-lock-alt"></i>Sign In</a>
                    </div> -->
                    <div class="main-menu  colormenu d-block">
                        <nav id="mobile-menu">
                            <ul>
                                <li><a href="#" target="#">首页</a></li>
                                <li><a href="#download">下载</a></li>
                                <li><a href="#price">价格</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
               <div class="col-2 col-md-1">
                    <div class="side-menu-icon bar-three d-lg-none text-end">
                        <button class="side-toggle"><i class="far fa-bars"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- HEADER END -->

<div class="fix">
<div class="side-info">
    <button class="side-info-close"><i class="fal fa-times"></i></button>
    <div class="side-info-content">
        <div class="mobile-menu"></div>
    </div>
</div>
</div>
<div class="offcanvas-overlay"></div>

    <main>
        <!-- === SLIDER AREA START === -->
            <div class="app_slider  d-flex align-items-center fix">
        <div class="App_shape-circle">
            <img class="shapeAbsoulute scale-upOne d-sm-none d-md-block" src="assets/img/shape/circle.png" alt=""/>
            <img class="shape10" src="kn/img/shape/shape10.png" alt=""/>
            <img class="shape13" src="kn/img/shape/shape13.png" alt=""/>
        </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="App_shape wow fadeInLeft  d-sm-none d-md-block d-none d-sm-block" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                    <img src="kn/img/shape/mainshape.png" alt=""/>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 d-flex align-items-center">
                <div class="app_sliderContent">
                    <div class="shapeesright">
                        <img class="shape1" src="kn/img/shape/shape1.png" alt=""/>
                        <img class="shape2" src="kn/img/shape/shape2.png" alt=""/>
                        <img class="shape3" src="kn/img/shape/shape3.png" alt=""/>
                        <img class="shape4" src="kn/img/shape/shape4.png" alt=""/>
                        <img class="shape5" src="kn/img/shape/shape5.png" alt=""/>
                        <img class="shape6" src="kn/img/shape/shape6.png" alt=""/>
                        <img class="shape7" src="kn/img/shape/shape7.png" alt=""/>
                        <img class="shape8" src="kn/img/shape/shape8.png" alt=""/>
                        <img class="shape9" src="kn/img/shape/shape9.png" alt=""/>
                        <img class="shape11" src="kn/img/shape/shape5.png" alt=""/>
                    </div>
                    <h2 class="hero-two-title">超大带宽，告别卡顿</h2>
                    <p>提供专线；多端加速；高速稳定；速24小时客服在线；</p>
                    <div class="slider-btn">
                        <a class="btn-outline" href="#download">免费下载</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    </div>
    
	    <!-- SOCIAL SHARE START  -->
	        <div class="social_share mb-100">
	            <div class="container">
	                <div class="section_title_wrapper mb-80 text-center mt-115">
	                    <h2 class="section-title mb-20">支持热门应用</h2>
	                    <!-- <p class="social_sub text-center">出发吧</p> -->
	                </div>
	                <div class="row">
	                    <div class="col-xl-3 col-lg-4 col-md-6">
	                        <div class="share align-items-center mb-30">
	                            <div class="share__icon">
	                                <img src="kn/img/social/youtube.png" alt="shareIcon" />
	                            </div>
	                            <div class="share__content">
	                                <h4>Youtube</h4>
	                                <span>Video</span>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-xl-3 col-lg-4 col-md-6">
	                        <div class="share align-items-center mb-30">
	                            <div class="share__icon">
	                                <img src="kn/img/social/instagram.png" alt="shareIcon" />
	                            </div>
	                            <div class="share__content">
	                                <h4>Instagram</h4>
	                                <span>Messanger</span>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-xl-3 col-lg-4 col-md-6">
	                        <div class="share align-items-center mb-30">
	                            <div class="share__icon">
	                                <img src="kn/img/social/facebook.png" alt="shareIcon" />
	                            </div>
	                            <div class="share__content">
	                                <h4>Facebook</h4>
	                                <span>Messanger</span>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-xl-3 col-lg-4 col-md-6">
	                        <div class="share align-items-center mb-30">
	                            <div class="share__icon">
	                                <img src="kn/img/social/spotify.png" alt="shareIcon" />
	                            </div>
	                            <div class="share__content">
	                                <h4>Spotify</h4>
	                                <span>Music</span>
	                            </div>
	                        </div>
	                    </div>
	                </div>
					<div class="row">
					    <div class="col-xl-3 col-lg-4 col-md-6">
					        <div class="share align-items-center mb-30">
					            <div class="share__icon">
					                <img src="kn/img/social/slack.png" alt="shareIcon" />
					            </div>
					            <div class="share__content">
					                <h4>Slack</h4>
					                <span>Messanger</span>
					            </div>
					        </div>
					    </div>
					    <div class="col-xl-3 col-lg-4 col-md-6">
					        <div class="share align-items-center mb-30">
					            <div class="share__icon">
					                <img src="kn/img/social/twitter.png" alt="shareIcon" />
					            </div>
					            <div class="share__content">
					                <h4>Twitter</h4>
					                <span>Messanger</span>
					            </div>
					        </div>
					    </div>
					    <div class="col-xl-3 col-lg-4 col-md-6">
					        <div class="share align-items-center mb-30">
					            <div class="share__icon">
					                <img src="kn/img/social/google-drive.png" alt="shareIcon" />
					            </div>
					            <div class="share__content">
					                <h4>Drive</h4>
					                <span>Messanger</span>
					            </div>
					        </div>
					    </div>
					    <div class="col-xl-3 col-lg-4 col-md-6">
					        <div class="share align-items-center mb-30">
					            <div class="share__icon">
					                <img src="kn/img/social/behance.png" alt="shareIcon" />
					            </div>
					            <div class="share__content">
					                <h4>Behance</h4>
					                <span>Messanger</span>
					            </div>
					        </div>
					    </div>
					</div>
	            </div>
	        </div>
	        <!-- SOCIAL SHARE END  -->
    
        <!-- === SLIDER AREA END === -->

        <!-- === HOME-3 FETURES AREA START === -->
        <!-- === HOME-2 FETURES AREA START === -->
            <div class="fetures2 pt-115 pb-90" id="download">
                <div class="container">
                    <div class="section_title_wrapper mb-60 text-center fetures2">
                        <h2 class="section-title">现在下载您的app</h2>
                        <p>client software download</p>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="featurebox2 mb-30  wow  fadeInUp"  data-wow-duration="2s" data-wow-delay=".2s">
                                <div class="featurebox2__img">
                                    <img src="kn/img/index/win.png" alt=""/>
                                </div>
                                <div class="featurebox2__content">
                                    <h3 class="fea-title">Windows客户端</h3>
									<p>Support Microsoft Corporation Windows System</p>
									<span th:each="w,index:${down.win}" style="margin-right:10px">
										<!-- <a class="fea-link" th:href="${w}" th:text="'下载'  + ${index.count}"></a> -->
										<a class="fea-link" th:if="${index.index == 0}" th:href="${w}" th:text="'下载'"></a>
										<a class="fea-link" th:if="${index.index > 0}" th:href="${w}" th:text="'备用'  + ${index.index}"></a>
									</span>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="featurebox2 mb-30  wow  fadeInUp"  data-wow-duration="2s" data-wow-delay=".2s">
                                <div class="featurebox2__img gradientorange">
                                    <img src="kn/img/index/ad.png" alt=""/>
                                </div>
                                <div class="featurebox2__content">
                                    <h3 class="fea-title">安卓客户端</h3>
									<p>Support Phone Andriod System, Support All</p>
                                    <span th:each="w,index:${down.ad}" style="margin-right:10px">
                                    	<a class="fea-link" th:if="${index.index == 0}" th:href="${w}" th:text="'下载'"></a>
										<a class="fea-link" th:if="${index.index > 0}" th:href="${w}" th:text="'备用'  + ${index.index}"></a>
									</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="featurebox2 mb-30  wow  fadeInUp"  data-wow-duration="2s" data-wow-delay=".2s">
                                <div class="featurebox2__img gradientbrwon">
                                    <img src="kn/img/index/ios.png" alt=""/>
                                </div>
                                <div class="featurebox2__content">
                                    <h3 class="fea-title">苹果客户端</h3>
									<p>Support Apple iPhone，ipad Support</p>
                                    <span th:each="w,index:${down.ios}" style="margin-right:10px">
										<a class="fea-link" th:if="${index.index == 0}" th:href="${w}" th:text="'下载'"></a>
										<a class="fea-link" th:if="${index.index > 0}" th:href="${w}" th:text="'备用'  + ${index.index}"></a>
									</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="featurebox2 mb-30  wow  fadeInUp"  data-wow-duration="2s" data-wow-delay=".2s">
                                <div class="featurebox2__img gradientgreen">
                                    <img src="kn/img/index/mac.png" alt=""/>
                                </div>
                                <div class="featurebox2__content">
                                    <h3 class="fea-title">Mac</h3>
                                    <p>Support MacBook Pro、MacBook Air、iMac 、Mac mini</p>
                                    <span th:each="w,index:${down.mac}" style="margin-right:10px">
										<a class="fea-link" th:if="${index.index == 0}" th:href="${w}" th:text="'下载'"></a>
										<a class="fea-link" th:if="${index.index > 0}" th:href="${w}" th:text="'备用'  + ${index.index}"></a>
									</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- === HOME-2 FETURES AREA END === -->

		
		<!-- pricing area start  -->
		    <div class="pricing-area pt-105 pb-80 position-relative" id="price">
		        <div class="pricing_shapes">
		            <img class="position-absolute price-1" src="kn/img/shape/left.png" alt="pricing_shapes"/>
		            <img class="position-absolute price-2" src="kn/img/shape/shape7.png" alt="pricing_shapes"/>
		            <img class="position-absolute price-3" src="kn/img/shape/shape2.png" alt="pricing_shapes"/>
		        </div>
		        <div class="container">
		            <div class="section_title_wrapper text-center pb-50">
		                <h2 class="section-title pricing_title">选择适合您的套餐</h2>
		            </div>
		            <div class="row"> 
		                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" >
		                    <div class="pricing mb-30">
		                        <div class="pricing__header">
		                            <h4>永久代理</h4>
		                            <h2><span>￥</span>530</h2>
		                            <span>Forever</span>
		                        </div>
		                        <div class="pricing__content">
		                            <ul>
		                                <li><i class="far fa-check"></i>永久无限量使用</li>
										<li><i class="far fa-check"></i>永久不限速,不限连接</li>
		                                <li><i class="far fa-check"></i>送代理资格，包培训</li>
		                                <li><i class="far fa-check"></i>充值返现40%高额返利</li>
		                                <li><i class="far fa-check"></i>24小时服务支持</li>
		                            </ul>
		                        </div>
		                        <div class="pricing__footer">
		                            <a href="#download">选择</a>
		                        </div>
		                    </div>
		                </div>
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
						    <div class="pricing design2 mb-30">
						        <div class="pricing__header lightcolor">
						            <h4>年卡</h4>
						            <h2><span>￥</span>265</h2>
						            <span>Year</span>
						        </div>
						        <div class="pricing__content">
						            <ul>
										<li><i class="far fa-check"></i>不限速</li>
						                <li><i class="far fa-check"></i>不限量使用</li>
						                <li><i class="far fa-check"></i>不限连接</li> 
						                <li><i class="far fa-check"></i>优质服务支持</li>
										<li><i class="far "></i></li> 
						            </ul>
						        </div>
						        <div class="pricing__footer">
						            <a href="#download">选择</a>
						        </div>
						    </div>
						</div>
						
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
						    <div class="pricing design2 mb-30">
						        <div class="pricing__header orange">
						            <h4>季卡</h4>
						            <h2><span>￥</span>70</h2>
						            <span>Quarter</span>
						        </div>
						        <div class="pricing__content">
						            <ul>
						                <li><i class="far fa-check"></i>不限量</li>
						                <li><i class="far fa-check"></i>量超限速</li>
						                <li><i class="far fa-check"></i>连接限制</li> 
						                <li><i class="far fa-check"></i>优质服务支持</li>
						                <li><i class="far "></i></li> 
						            </ul>
						        </div>
						        <div class="pricing__footer">
						            <a href="#download">选择</a>
						        </div>
						    </div>
						</div>
						
		                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
		                    <div class="pricing design1 mb-30">
		                        <div class="pricing__header lightcolor">
		                            <h4>月卡</h4>
		                            <h2><span>￥</span>25</h2>
		                            <span>Monthly</span>
		                        </div>
		                        <div class="pricing__content">
		                            <ul>
		                                <ul>
		                                    <li><i class="far fa-check"></i>不限速</li>
		                                    <li><i class="far fa-check"></i>量超限速</li>
		                                    <li><i class="far fa-check"></i>连接限制</li> 
		                                    <li><i class="far fa-check"></i>优质服务支持</li>
		                                    <li><i class="far "></i></li> 
		                                </ul>
		                            </ul>
		                        </div>
		                        <div class="pricing__footer">
		                            <a href="#download">选择</a>
		                        </div>
		                    </div>
		                </div>
		                
						
		            </div>
		        </div>
		    </div>
		<!-- pricing area end -->
		
        <!-- BLOG AREA START -->
        <!-- <div class="blog3">
            <div class="blog_shape_h3 d-none d-sm-block">
                <img class="blogshape3" src="kn/img/shape/shape1.png" alt="blog_shape" />
            </div>
            <div class="container">
                <div class="section_title_wrapper mb-60 text-center">
                    <h2 class="section-title team_title_h3">About Our Team Member We have <br> Powerful User Experience.
                    </h2>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="blog">
                            <div class="blog__image">
                                <img src="kn/img/Blog/blog1.png" alt="blogImage" />
                            </div>
                            <div class="blog__meta">
                                <span>November 26, 2020</span>
                                <h3>The End of the Bonus Culture Is Coming to Wall Street</h3>
                                <a class="fea-link blog_link " href="service.html">Read More<i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="blog">
                            <div class="blog__image">
                                <img src="kn/img/Blog/blog2.png" alt="blogImage" />
                            </div>
                            <div class="blog__meta">
                                <span>November 26, 2020</span>
                                <h3>What to Expect From the 2020 Oscar Nominations</h3>
                                <a class="fea-link blog_link " href="service.html">Read More<i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="blog">
                            <div class="blog__image">
                                <img src="kn/img/Blog/blog3.png" alt="blogImage" />
                            </div>
                            <div class="blog__meta">
                                <span>November 26, 2020</span>
                                <h3>China State Firm’s $6 Billion Is Loss Among Nation’s.</h3>
                                <a class="fea-link blog_link " href="service.html">Read More<i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BLOG AREA END -->

        <!-- TESTIMONIAL AREA START -->
        <div class="blog3 testimonial_h3 pt-110">
            <div class="container">
				<div class="section_title_wrapper mb-60 text-center">
				    <h2 class="section-title team_title_h3">专业的技术团队支持
				    </h2>
					<span>我们是一个致力于网络通信计算技术，提供专业可靠技术的服务团队，希望您能认可这个技术趋势，让我们一起为改变世界而努力。</span>
				</div>
            </div>
        </div>
        <!-- TESTIMONIAL AREA END -->

        <!-- DOWNLOAD START  -->
        <!-- <div class="download-area pt-50 mt-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-4 col-sm-12 d-sm-none d-md-block">
                        <div class="download_image">
                            <img class="dw d-none d-sm-block" src="kn/img/shape/iphon2.png" alt="download_shape" />
                            <img class="downloadpos  d-md-none d-lg-block float-bob d-none d-sm-block"
                                src="kn/img/shape/iphone3.png" alt="download_shape" />
                            <img class="downloadpos2 d-md-none d-lg-block d-none d-sm-block"
                                src="kn/img/shape/circle.png" alt="download_shape" />
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12">
                        <div class="download_content pl-105 pt-90">
                            <h2 class="download_title">Download Your Amazing App Available Now.</h2>
                            <p>Horse play argy-bargy me old mucker boot bog show off show off pick your nose and blow
                                off cack, cras buggered say.</p>
                            <div class="download-btn">
                                <a class="tp_download" href="#"><i class="fab fa-apple"></i></a>
                                <a class="bg-android" href="#"><i class="fal fa-user-robot"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- DOWNLOAD END  -->

        

<!-- FOOTER START -->
<div class="footer-area padding-remove footertext-hover2">
    <!-- <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-4">
                <div class="footer_logo">
                    <img src="kn/img/logo/logomain.png" alt="logo"/>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4">
                <div class="footer_widget_design wow  fadeInUp"  datssa-wow-duration="2s" data-wow-delay=".2s">
                    <div class="link_heading">
                        <h3 class="link_heading">Useful Links</h3>
                    </div>
                    <div class="links">
                        <ul>
                            <li><a href="index.html">Home </a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="service.html">Service</a></li>
                            <li><a href="blog.html">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4">
                <div class="footer_widget_design wow  fadeInUp"  data-wow-duration="2s" data-wow-delay=".2s">
                    <div class="link_heading">
                        <h3 class="link_heading">Resources</h3>
                    </div>
                    <div class="links">
                        <ul>
                            <li><a href="service.html">Project</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="contact.html">Help</a></li>
                            <li><a href="about.html">Privacy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4">
                <div class="footer_widget_design fixwidth wow  fadeInUp"  data-wow-duration="2s" data-wow-delay=".2s">
                    <div class="link_heading">
                        <h3 class="link_heading">Service</h3>
                    </div>
                    <div class="links">
                        <ul>
                            <li><a href="">Managed IT</a></li>
                            <li><a class="itsupport" href="service.html">IT Support </a></li>
                            <li><a href="service.html">Cecurity</a></li>
                            <li><a href="about.html">FAQ’s </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-2 col-md-4">
                <div class="footer_widget_design wow  fadeInUp"  data-wow-duration="2s" data-wow-delay=".2s">
                    <div class="link_heading">
                        <h3 class="link_heading linkspecail">Office Location</h3>
                    </div>
                    <div class="links special_widget_tp">
                        <ul>
                            <li><a href="contact.html"><i class="far fa-map-marker-alt"></i><span class="tp-spaceing">99, Kazi Nazrul Islam Avenue (Dhaka Trade Centre - 5th Floor) Kawran Bazar, Dhaka-1215.</span></a></li>
                            <li><a href="tel:+8801821243622"><i class="fad fa-phone-alt"></i>+880 1821 243 622</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="footer_bottom pt-20 pb-15">
        <div class="container tp-border">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="copyright_text pt-20">
                        <p>@ 2022 All Copyright By kuainiao. </p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="footer_social f-right">
                        <span>Follow us</span>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        <a href="#"><i class="fab fa-vimeo-v"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER END -->
    </main>
    <!-- JS here -->
    <script src="kn/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="kn/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="kn/js/popper.min.js"></script>
    <script src="kn/js/bootstrap.min.js"></script>
    <script src="kn/js/owl.carousel.min.js"></script>
    <script src="kn/js/isotope.pkgd.min.js"></script>
    <script src="kn/js/one-page-nav-min.js"></script>
    <script src="kn/js/slick.min.js"></script>
    <script src="kn/js/jquery.meanmenu.min.js"></script>
    <script src="kn/js/ajax-form.js"></script>
    <script src="kn/js/wow.min.js"></script>
    <script src="kn/js/jquery.scrollUp.min.js"></script>
    <script src="kn/js/imagesloaded.pkgd.min.js"></script>
    <script src="kn/js/jquery.magnific-popup.min.js"></script>
    <script src="kn/js/plugins.js"></script>
    <script src="kn/js/main.js"></script>
	<!-- script>
		
		getUrl();
		let dataList = [];
		function getUrl() {
			$.get("https://cmem.api.kuaijiasuhouduan.com/auth_api/app/mem/getIosDownload",function(data,status){
				dataList = data.data
			 });
		}
		
		$(".download").click(function() {
			
			let type = $(this).attr("id-attr");
			
			if (dataList && dataList.length > 0) {
				for(var i in dataList){
				  if (dataList[i].type == type) {
					  window.location.href=dataList[i].path;
				  }
				}
			}
			
			
		})
		
	</script -->
</body>

</html>